<div class="main-container" id="container">
    <form action="/products" class="btn-ptr btn-volver">
        <input type="submit" value="VOLVER A PRODUCTOS">
    </form>
    <div class="tabla">
        <div class="titulos">
            <h1 id="ticket-cart">Ticket N° {{this.code}}</h1>
            <ul class="cartTicket">
                <li class="li-titles">Email</li>
                <li class="li-titles">Fecha</li>
                <li class="li-titles">Total</li>
            </ul>
        </div>
        {{#if data.status}}
        {{#each data.tickets}}

        <div id="form-real-time">

            <ul class="cartTicket">

                <li class="idTitle">{{this.purchaser}}</li>
                <li>{{this.purchase_datetime}}</li>
                <li><strong>$ {{this.amount}}</strong></li>

            </ul>

        </div>
        {{/each}}
        {{else}}
        <div class="notItems-container">
            <p class="notItems">No hay tickets!</p>
        </div>
        {{/if}}
    </div>

</div>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>